#top{
    display: flex;
    height: 50px;
    width:auto;
    flex-direction: row;
    gap:50px;
   
}
#Categories{
    border: none;
}
.search-container{
    position: relative;
    width:300px;
}
.search-input{
    width:100%;
    padding : 12px 40px 12px 15px;
    border:2px solid #ddd;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    transition: border color 0.3s;
}
.search-input:focus{
    border-color: #4CAF50;
}
.search-button{
    position: absolute;
    right: 15px;
 top: 50%;
transform: translateY(-50%);
cursor: pointer;
background: none;
 border: none;
 padding: 0;
}
.search-icon{
    height:16px;
    width:16px;
    display: block;
    color:#666;
}
.account{
    height: 16px;
    width: 16px;
}
#acc{
display: flex;
align-items: center;
flex-direction: row;
gap: 5px;
}
.cart{
height: 20px;
width:20px;
}
#cart{
display: flex;
align-items: center;
gap:5px;
}
#acc1{
font-size: 16px;
}
#shirtalign{
    flex-direction: column;
    gap:5px;
    margin-left: 30px;
    margin-top:30px;
}

.aligns{
    border-radius:15px;
    height:500px;
    width:415px;
}
.aligns1{
    width:100px;
    height:100px;
    border-radius: 5px;
}